.AppAbout{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

#aboutIntro{
    padding-left: 20px;
    padding-right: 20px;
    justify-content:space-around;
    width: 100vw;
    height: 100vh;
    color: white;
    background: #50a3a2;
    background: -webkit-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%);
    background: -moz-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%);
    background: -o-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%);
    background: linear-gradient(to bottom right,#50a3a2 0%,#53e3a6 100%);
}

#aboutIntro h1{
    font-size: 4em;
}

.aboutTitle{
    width: 45%;
    text-align: center;
}

#introImg{
    width: 60%;
}

#introImg img{
    max-height: 80vh;
    max-width: 80vh;
    width: 100%
}

.transitionWave{
    position: absolute;
    bottom: 0;
}

section{
    padding-top: 100px;
    padding: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.aboutItem{
    align-self: stretch;
    min-width: 200px;
    max-width: 600px;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgba(128, 128, 128, 0.247);
    box-shadow: rgba(17, 12, 46, 0.144) 0px 15px 50px 0px;
}

.aboutItem h2{color: #50a3a2;}
.aboutItem p{color: #464646;}

.aboutText{
    padding: 20px;
}

@media (max-width: 840px) {
    #aboutIntro
    {
        flex-direction: column;
        justify-content: center;
    }
}