@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  overflow-x: hidden !important;
  overflow-y: overlay;
}

.App{
  margin-bottom: 40px;
}

#intro{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  font-family: 'Poppins', sans-serif;
  color: white;
  background: rgb(239,0,143);
  background: linear-gradient(58deg, rgba(239,0,143,1) 0%, rgba(110,195,244,1) 32%, rgba(112,56,255,1) 63%, rgba(226,226,226,1) 90%);
}
  #intro h1{
    padding-top: 60px;
    position: relative;
    font-family: 'Fredoka', sans-serif;
    font-size: 80px;
    z-index: 1;
  }
  #intro p{
    position: relative;
    text-align: center;
    z-index: 2;
    font-size: 12px;
    width: 260px;
  }
  #intro div{
    position: relative;
    z-index: 1;
    width: calc(fit-content + 2px);
  }

  #gradient-canvas{
    position: absolute;
    --gradient-color-1:#ef008f;
    --gradient-color-2:#6ec3f4;
    --gradient-color-3:#7038ff;
    --gradient-color-4:#e2e2e2;
    z-index: 3;
    background-color: white;
    width: 100%;
    height: 600px;
  }

  #gradient-canvas.isLoaded{
    z-index: 0;
  }

  #introBtnContainer{
    display: flex;
    justify-content: space-evenly;
  }
    #intro .btn{
      font-size: 14px;
      position: relative;
      border-radius: 18px;
      padding-left: 20px;
      padding-right: 16px;
      border: none;
    }
      #intro .btn-primary{
        background-color: rgb(10, 37, 64);
      }
      #intro .btn-secondary{
        color: white;
        background-color: transparent;
      }
      #intro .btn i{
        transition: padding .2s ease;
        padding-left: 3px;
        font-size: 12px;
      }

      #intro .btn:hover{
        transition: color .2s ease;
        color: rgb(209, 209, 209);
      }
      #intro .btn:hover i{

        padding-left: 5px;
      }

button:focus {
  outline: none !important;
  outline-offset: none !important;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*###################
Header
###################*/

.Open{
  visibility: visible !important;
  opacity: 1 !important;
  transition: opacity .25s ease,visibility 0s ease !important;
}

.Wrapper{
  z-index: 18;
  position: fixed;
  background-color: rgba(0,0,0,.7);
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s cubic-bezier(.19,1,.22,1),visibility 0s cubic-bezier(.19,1,.22,1) .5s;
}

#NavMenu {
  position: fixed;
  display: flex;
  /*background-color: aliceblue;*/
  width: 100vw;
  height: 60px;
  z-index: 10;
}

#Hamburger{
  width: 70px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  left: 0;
}

#MenuWrapper{
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 69;
  overflow: hidden;
  overflow-y: auto;
  width: 340px;
  background-color: white;
  transform: translate(-100%);
  transition: transform .5s cubic-bezier(.19,1,.22,1);
}

.MButton{
  border: none;
  background-color: transparent;
  width: 100%;
  height: 80px;
}

#Header img {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 10;
}

#HButtons i{
  position: absolute;
  right: 20px;
  top: 7px;
  font-size: 45px;
  z-index: 10;
}

#HButtons {
  font-family: 'Fredoka', sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  gap: 5px;
}

.HButton {
  color: white;
  background-color: transparent;
  border: none;
  height: 60px;
  width: 90px;
}

#cart-btn-div{
  position: absolute;
  cursor: pointer;
  right: 0;
  width: 60px;
  height: 100%;
}
#cart-icon-div{
  position: relative;
  left: 0;
  top: 22px;
  height: 25px;
  width: 28px;
}
#cart-icon-div i{
  position: unset;
  right: unset;
  top: unset;
  font-size: 25px;
}
#cart-item-count{
  position: relative;
  left: 32px;
  top: -14px;
}

.acrylic {
  color: white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  background: transparent;
  overflow: hidden;
}

.acrylic::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(15, 15, 15, 0.5);
  backdrop-filter: blur(8px);
  margin: -20px;
}

.glass{
  color: white;
  box-shadow: inset 0 0 2000px rgba(15, 15, 15, 0.7);
  backdrop-filter: blur(8px);
  position: relative;
  z-index: 1;
  background: transparent;
  overflow: hidden;
}

#underline {
  display: block;
  position: absolute;
  z-index: 11;
  bottom: 5px;
  left: calc(50% - 10px);
  width: 20px;
  pointer-events: none;
  transition: all .2s ease;
}

#underline {
  background: white;
  border-radius: 0.25em;
  height: 2px;
  mix-blend-mode: initial;
}

.rightMenu{
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 69;
  overflow: hidden;
  overflow-y: auto;
  width: 340px;
  background-color: white;
  transform: translate(100%);
  transition: transform .5s cubic-bezier(.19,1,.22,1);
}

.cHeading{
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Poppins', sans-serif;
  padding: 20px 15px;
  border-bottom: 1px solid rgba(120,120,120,.2);
}
.cHeading span{
  color: black;
  flex: 1 1 auto;
  font-size: 20px;
}
.BA {
  display: flex;
  justify-content: center;
  color: black;
  border: none;
  background-color: transparent;
  font-size: 20px;
  width: 20px;
}

#cartFooter{
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

#cartTotal{
  display: flex;
  justify-content: space-between;
  width: 302px;
  color: #2d2a2a;
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 15px;
  padding-top: 15px;
}
#cartSum{
  color: #00a97f;
}
#checkoutBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  color: white;
  background-color: #00a97f;
  border-radius: 60px;
  height: 50px;
  width: 100%;
}


#cartContent{
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  border-bottom: 1px solid rgba(120,120,120,.2);
}

.cartItem{
  display: flex;
  position: relative;
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
  height: 100px;
}

.cartImgDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 90px;
  height: 100px;
}

.cartItem img{
  border-radius: 8px;
  height: auto !important;
  width: 100% !important;
}

.cartItemInfo{
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 12px;

}

.cartItemQuantity{
  font-size: 12px;
  color: rgb(158, 158, 158);
}

.cartItemDesc {
  position: relative;
  font-size: 12px;
  color: rgb(158, 158, 158);
}

.cartItemPrice{
  color: #53e3a6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  bottom: 5px;
}

.itemRemoveBtn{
  position: absolute;
  border: none;
  height: 30px;
  width: 30px;
  right: 15px;
  top: 10px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemRemoveBtn i{
  position: relative !important;
  right: auto !important;
  top: auto !important;
  font-size: 25px !important;
  color: black;
}

.cartItemPriceOne{
  font-size: 12px;
  color: rgb(126, 126, 126);
}

.cartColor{
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.total{
  color: #53e3a6 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.total::before,
.total::after{
  background-color: #53e3a6 !important;
}
.total:hover{
  border-color: #53e3a6 !important;
  color: black !important;
}

/*###################
CONTENT
###################*/

.intro h1{
  z-index: 2;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.intro h5{
  z-index: 2;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.flex {
  display: flex;
  justify-content:center;
  align-items: center;
  /*background-color: aqua;*/
}

#introContainer{
  padding-top: 80px;
  display: flex;
}

.introduction{
  display: flex;
  justify-content: center;
  width: 50%;
  font-family: 'Poppins', sans-serif;
}

.blobDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}


.text-center{
  text-align: center;
}

.margin0{
  margin: 0;
}

.py-0{
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.st-0{
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.st-1{
  letter-spacing: 5px;
  color: #00a97f;
  font-weight: 700;
  font-size: 1.2rem;
}

.st-2{
  font-weight: 600;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  font-size: 2.0736rem;
}

#cardContainer{gap: 2rem; font-family: 'Poppins', sans-serif;}
.cardMargin{ margin: 1rem;}
.card{
  flex: 1;
  align-self: stretch;
  border: none;
  border-radius: 40px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.cardHead h5{
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 800;
}

#paymentOptSec{
  padding: 10px !important;
}

#paymentOpt{
  height: 80px;
  width: 100%;
  gap: 25px;
  border-top: #1212120a solid 1px;
  border-bottom: #1212120a solid 1px;
}

#paymentOpt img{
  height: 60px;
}

.BGI{
  width: 50px;
  height: 50px;
  background-color: #00a97f;
  color: white;
  border-radius: 15px;
}
.BGI i{
  font-size: 22px;
}

/*###################
TEXT BACKGROUND
###################*/

.GradientText1 {
  /*  leverage cascade for cross-browser gradients  */
  background: -webkit-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%) fixed;
  background: -moz-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%) fixed;
  background: -o-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%) fixed;
  background: linear-gradient(to bottom right,#50a3a2 0%,#53e3a6 100%) fixed;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.Gradient1 {
  background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752) fixed;
}

/*###################
FOOTER
###################*/


#footer {
  padding: 12%;
  padding-top: 20px;
  padding-bottom: 0;
  position: relative;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
  bottom: 0;
  width: 100vw;
  min-height: 240px;
  background-color: #121212;
  color: white;
}

#footer .flex{
  height: 100%;
  justify-content: center;
  gap: 40px;
}

.Armilla{
  display: flex;
  flex-direction: column;
  max-height: 200px;
}
.Armilla img{
  width: 100px;
  height: 100px;
}

#copyright {
  padding-top: 20px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  background-color: #121212;
}
  #copyright span {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 10px;
  }

.Nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.NavBtn{
  color: white;
}
.NavBtn:hover{
  color: #00a97f;
  text-decoration: none; 
}

/*----------------------
      Product Page
-----------------------*/

#ProductHeader{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  align-items: center;
  min-height: 200px;
  max-height: 200px;
  flex-direction: column;
  overflow: hidden;
  color: white;
  background: #000;
  background: url(https://raw.githubusercontent.com/ArmillaMain/Armilla/main/Images/backgroundArmilla.png) no-repeat;
  background-size: cover;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);*/
  /* IE6-9 fallback on horizontal gradient */
  /*
  background: -webkit-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%);
  background: -moz-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%);
  background: -o-linear-gradient(top left,#50a3a2 0%,#53e3a6 100%);
  background: linear-gradient(to bottom right,#50a3a2 0%,#53e3a6 100%);
  */
}

#ProductHeader h4{
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
}

.categories{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  top: 25px;
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;

  font-family: Poppins, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}

.category{
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all .4s ease;
}

.category:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00eeff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.category:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.cSelected{
  color: #00a97f !important;
}

#Title {
  font-family: system-ui;
  text-align: center;
  font-size: 4em;
  height: 100%;
  padding-top: 95px;
  margin: 0;
}

.itemDivHome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
  .itemDivHome .item-card-wrapper{
    width: 25%;
    min-width: 220px;
  }

.ul-size {
  margin: 0;
  margin-left: 15px;
}

.matName{
  color: rgba(0, 0, 0, 0.432);
}

#Frame {
  flex-direction: column;
  font-family: Poppins,sans-serif;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 100vw;
}

@-webkit-keyframes square {
  0% {
    transform: translateY(0);
 }
  100% {
    transform: translateY(-700px) rotate(600deg);
 }
}
@keyframes square {
  0% {
    transform: translateY(0);
 }
  100% {
    transform: translateY(calc(-100vh - 200px)) rotate(600deg);
 }
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}


/*###################
BLOB
###################*/

.blob {
  display: block;
  position: relative;
  width: 70%;
  height: 100%;
  overflow: hidden;
  border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
  background: linear-gradient(to right, #23D5AB, #23A6D5, #E73C7E, #EE7752, #DDD6F3);
  background-size: 500% 100%;
  animation: blobber 30s 0s linear infinite, cobler 30s 0s linear infinite alternate;
}
.blob:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  background-color: transparent;
  background-image: url(https://raw.githubusercontent.com/ArmillaMain/Armilla/main/Images/ArmillaLogo3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*mix-blend-mode: multiply;*/
  animation: blobber 30s 0s ease-in-out infinite, wobbler 15s 0s linear infinite alternate;
}
@keyframes blobber {
  0% {
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
  }
  5% {
    border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%;
  }
  10% {
    border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%;
  }
  15% {
    border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%;
  }
  20% {
    border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%;
  }
  25% {
    border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%;
  }
  30% {
    border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%;
  }
  35% {
    border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%;
  }
  40% {
    border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%;
  }
  45% {
    border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%;
  }
  50% {
    border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%;
  }
  55% {
    border-radius: 28% 72% 37% 63% / 71% 44% 56% 29%;
  }
  60% {
    border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%;
  }
  65% {
    border-radius: 73% 27% 46% 54% / 54% 47% 53% 46%;
  }
  70% {
    border-radius: 75% 25% 47% 53% / 49% 53% 47% 51%;
  }
  75% {
    border-radius: 62% 38% 43% 57% / 55% 60% 40% 45%;
  }
  80% {
    border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%;
  }
  85% {
    border-radius: 55% 45% 57% 43% / 73% 61% 39% 27%;
  }
  90% {
    border-radius: 74% 26% 33% 67% / 40% 65% 35% 60%;
  }
  95% {
    border-radius: 58% 42% 57% 43% / 53% 45% 55% 47%;
  }
  100% {
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
  }
}
@keyframes cobler {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes wobbler {
  0% {
    transform: rotateZ(8deg);
  }
  100% {
    transform: rotateZ(-8deg);
  }
}

@keyframes rotate-blob {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-blob2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


/*###################
SCROLLBAR
###################*/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

/*--------------------------------*/

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #77ffdd;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 28px;
  height: 28px;
  margin: 6px;
  border-radius: 50%;
  border: 4px solid #4ea7ad;
  border-color: #ffffff transparent #ffffff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes fade-down {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 760px){
  #PopProducts{
    padding-bottom: 2rem !important;
  }
  .category:hover:after{
    transform: scaleX(0);
  }
  .category{
    flex: 33.3%;
    text-align: center;
  }
  .ItemDiv{
    padding-left: 10px;
    padding-right: 10px;
  }
  #footer .flex{
    flex-wrap: wrap;
  }
  #copyright{
    padding-bottom: 6px;
  }
}

/*PHONE SIZING*/

@media (max-width: 440px){
  .itemDivHome{
    justify-content: space-between;
  }
  .itemDivHome .item-card-wrapper{
    min-width: 100px !important;
    width: 45%;
  }
  #footer .flex{
    justify-content: left;
  }
}

@media (max-width: 800px) {
  #SecTitle{
    top: 10px;
    font-size: 3em;
  }
  .itemContainer {
    max-width: 320px;
    min-width: none;
    width: 100%;
  }
  .blobDiv{
    display: none;
  }
  #introContainer{padding-top: 20px;}
  .introduction {
    text-align: center;
    width: 100%;
  }
  .container{
    max-width: none;
  }
  .itemDivHome{
    justify-content: space-around;
  }
  .itemDivHome .item-card-wrapper{
    padding-bottom: 20px;
    min-width: 200px;
  }
  #PopProducts{
    padding-bottom: 0 !important;
  }
  #copyright{
    padding-bottom: 20px;
  }
    #copyright span{
      width: 100vw;
      padding: 2px;
      left: 0;
    }
}
@media (max-width: 950px) {
  #PreviewWindow{
    height: 90%;
  }
  #stlFrame{
    width: 100%;
    height: 65%;
  }
  #contentFrame{
    width: 100%;
    height: 40%;
    bottom: -15px;
    top: auto;
  }
  #cardContainer{
    flex-direction: column;
  }
  .blob{
    width: 250px;
    height: 250px;
  }
}